.cuerpo_texto {
  margin: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.8;
}

.cuerpo_texto h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 40px;
  border-bottom: 2px solid #333;
  padding-bottom: 20px;
}

.cuerpo_texto h3 {
  font-size: 24px;
  color: #555;
  margin-top: 50px;
  margin-bottom: 30px;
}

.cuerpo_texto h4 {
  font-size: 20px;
  color: #777;
  margin-top: 40px;
  margin-bottom: 25px;
}

.cuerpo_texto p {
  font-size: 18px;
  color: #666;
  margin-bottom: 30px;
}

.cuerpo_texto iframe {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 800px;
  height: 400px;
  border: none;
  border-radius: 10px;
}

.cuerpo_texto strong {
  color: #1E90FF;
}

.cuerpo_texto iframe {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 800px;
  height: 400px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}